.btech1-container{
    background-color:#fff;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto';
}

.modules-holder {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .modules-holder h2 {
    margin-top: 0;
  }
  
