<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn from Anywhere</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/btech1.css" />
    <script
      src="https://kit.fontawesome.com/0ad80c22d0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="btech1-continer">
      <div class="container">
        <h1 class="btech-heading text-center">Btech 1st Semester</h1>
        <div class="row">
          <div class="col-12">
            <div class="table">
              <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Course title and Curriculum</th>
                    <th scope="col">Credits</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">18LEH101J</th>
                    <td>English</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th scope="row">18MAB101T</th>
                    <td>Calculus and Linear Algebra</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <th scope="row">18PYB103J</th>
                    <td>Physics: Semiconductor Physics</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th scope="row">18MES101L</th>
                    <td>Engineering Graphics and Design</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th scope="row">18EES101J</th>
                    <td>Basic Electrical and Electronics Engineering</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th scope="row">18PDM101L</th>
                    <td>Professional Skills and Practices</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">18LEM101T</th>
                    <td>Constitution of India</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">18GNM101L</th>
                    <td>Physical and Mental Health using Yoga</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12">
            <div class="english-container">
              <h1 class="subject-head">English</h1>
              
            </div>
          </div>
        </div>
        <a href="/Home" class="btn btn-primary">Back</a>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="static/btech1.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
